ALTER PROCEDURE sp_ProductCRUD
(
    @Action VARCHAR(10),
    @ProductID INT = NULL,
    @ProductName NVARCHAR(50) = NULL,
    @Price DECIMAL(8,2) = NULL,
    @Qty INT = NULL,
    @Remarks NVARCHAR(50) = NULL
)
AS
BEGIN

    IF @Action = 'INSERT'
    BEGIN
        IF NOT EXISTS (
            SELECT 1 FROM tbl_ProductMaster
            WHERE ProductName = @ProductName
        )
        BEGIN
            INSERT INTO tbl_ProductMaster(ProductName, Price, Qty, Remarks)
            VALUES (@ProductName, @Price, @Qty, @Remarks)
        END
    END

    ELSE IF @Action = 'UPDATE'
    BEGIN
        UPDATE tbl_ProductMaster
        SET ProductName = @ProductName,
            Price = @Price,
            Qty = @Qty,
            Remarks = @Remarks
        WHERE ProductID = @ProductID
    END

    ELSE IF @Action = 'DELETE'
    BEGIN
        DELETE FROM tbl_ProductMaster
        WHERE ProductID = @ProductID
    END

END